{% extends "base.html" %}
{% block title %}パスワードリセット{% endblock %}
{% block content %}

<center>
<form method="POST">
  <h3 align="center">パスワードリセット</h3>

  <div class="form-group">
    <label for="email">メールアドレス</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter your email"
      style="width: 300px;"
      required
      value = "{{ email or '' }}"
    />
  </div>

  <button type="submit" class="btn btn-primary" id="sendResetLink" style="display: block; margin-bottom: 10px;">
    送信
  </button>

  <a href="{{ url_for('auth.login') }}">戻る</a>

</form>
</center>

 <script>
  const sendButton = document.getElementById('sendResetLink');
  let timerInterval; 


  sendButton.addEventListener('click', function(event) {
  event.preventDefault(); 


  let timeLeft = 60; 
  sendButton.disabled = true;
  sendButton.textContent = `再送信 (${timeLeft}秒)`;


  timerInterval = setInterval(function() { 
  timeLeft--;
  sendButton.textContent = `再送信 (${timeLeft}秒)`;


  if (timeLeft <= 0) {
  clearInterval(timerInterval);
  sendButton.disabled = false;
  sendButton.textContent = '送信';
  }
  }, 1000);


  // Submit the form after the cooldown starts
  document.querySelector('form').submit();
  });
 </script>

{% endblock %}
